<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arunsudharsan.eecnotesforyou">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/easwarilogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".LogInactivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.arunsudharsan.eecnotesforyou.Department" />
        />
        <activity
            android:name=".Department"
            android:label="Select Department" />
        <activity
            android:name=".SemesterList"
            android:label="Pick Semester" />
        <activity
            android:name=".SubjectsList"
            android:label="Choose subject" />
        <activity android:name=".SubjectViewActivity" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Downloads" />
        <activity android:name=".WebviewActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".firebaseinstantidservice">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebasemessagingservice">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".AreyouteacherorStudent" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".TeacherchooseSD" />
        <activity
            android:name=".NavDraweforStudent"
            android:label="@string/title_activity_nav_drawefor_student"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>